지금까지는 파이썬의 기초 문법을 가지고 데이터를 다루고 분석하는 방법을 써왔다.
하지만, 라이브러리를 사용하면 더욱 빠르고 편리하고 다양하게 데이터를 분석할 수 있다.

파이썬 데이터 분석에 활용되는 라이브러리의 대표적인 것에 pandas 라이브러리가 있다.

pandas에서 데이터를 다루는 기초적인 방법에 대하여 알아보자.

pandas에서 데이터를 테이블 형태(엑셀에 표로 표현한 것처럼)로 표현하는 것을 DataFrame이라고 한다.

In [ ]:
import pandas as pd

# DataFrame() 함수로 pandas DataFrame 생성

df = pd.DataFrame({'name' : ['둘리', '도우너', '또치', '고길동'], 'english' : [90, 80, 60, 70], 'math' : [50, 60, 100, 20]})

print(df)

특정 변수의 값을 추출해보자.

In [ ]:
print(df['name'])
print(df['math'])
print(df['english'])

In [ ]:
# sum 함수를 이용하여 과목별 평균 구하기
print(sum(df['english']) /4)
print(sum(df['math']) /4)

문제. 엑셀 표의 데이터를 데이터 프레임으로 만들고, dfFruit 변수에 저장하세요. 만들어진 데이터 프레임을 이용해 과일의 가격 평균과 판매량 평균을 구하세요.

In [8]:
import pandas as pd

dfFruit = pd.DataFrame({
    '제품' : ['사과', '딸기', '수박'], 
    '가격' : [1800, 1500, 3000],
    '판매량' : [24, 38, 13]
    })

print(dfFruit)

print(sum(dfFruit['가격']) /3)
print(sum(dfFruit['판매량']) /3)

   제품    가격  판매량
0  사과  1800   24
1  딸기  1500   38
2  수박  3000   13
2100.0
25.0

/data/excel_exam.xlsx 파일을 읽어와 데이터 프레임으로 만들어 여러가지 데이터 분석을 해보자

In [10]:
df_exam = pd.read_excel('D:\lecture\python\data\excel_exam.xlsx') # 엑셀 파일을 읽어서 DataFrame 객체로 만들어줌
print(df_exam)

<>:1: SyntaxWarning: invalid escape sequence '\l'
<>:1: SyntaxWarning: invalid escape sequence '\l'
C:\Users\802-02\AppData\Local\Temp\ipykernel_8448\1899357897.py:1: SyntaxWarning: invalid escape sequence '\l'
  df_exam = pd.read_excel('D:\lecture\python\data\excel_exam.xlsx')

    id  nclass  math  english  science
0    1       1    50       98       50
1    2       1    60       97       60
2    3       1    45       86       78
3    4       1    30       98       58
4    5       2    25       80       65
5    6       2    50       89       98
6    7       2    80       90       45
7    8       2    90       78       25
8    9       3    20       98       15
9   10       3    50       98       45
10  11       3    65       65       65
11  12       3    45       85       32
12  13       4    46       98       65
13  14       4    48       87       12
14  15       4    75       56       78
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58

In [12]:
# 읽어온 데이터에 대한 과목별 평균을 다시 구해보자.

print(sum(df_exam['math']) / len(df_exam['math'])) # len(df_exam['math'])) : math 시험을 본 사람의 수
print(sum(df_exam['english']) / len(df_exam['english'])) 
print(sum(df_exam['science']) / len(df_exam['science']))

57.45
84.9
59.45

1) 엑셀 데이터를 읽어 DataFrame을 만들 때 header 정보가 없다면..
   read_excel(파일명, header=None)

2) 엑셀 데이터를 읽어 DataFrame을 만들 때 엑셀 파일에 여러개의 시트가 있을 때...
   read_excel(파일명, sheet_name='sheetName')
   read_excel(파일명, sheet_name=0부터 시작하는 인덱스)

In [14]:
# 1) 엑셀 데이터를 읽어 DataFrame을 만들 때 header 정보가 없다면..
df_exam_novar = pd.read_excel('D:\lecture\python\data\excel_exam_novar.xlsx', header=None) # header가 없을 때는 없다고 알려줘야 첫 행을 컬럼처럼 표현하지 않는다.
print(df_exam_novar)

   0  1   2   3   4
0  1  1  50  98  50
1  2  1  60  97  60
2  3  2  25  80  65
3  4  2  50  89  98
4  5  3  20  98  15
5  6  3  50  98  45
6  7  4  46  98  65
7  8  4  48  87  12

<>:1: SyntaxWarning: invalid escape sequence '\l'
<>:1: SyntaxWarning: invalid escape sequence '\l'
C:\Users\802-02\AppData\Local\Temp\ipykernel_8448\3280574080.py:1: SyntaxWarning: invalid escape sequence '\l'
  df_exam_novar = pd.read_excel('D:\lecture\python\data\excel_exam_novar.xlsx', header=None)

In [20]:
# 2) 엑셀 데이터를 읽어 DataFrame을 만들 때 엑셀 파일에 여러개의 시트가 있을 때...
print(pd.read_excel('D:\\lecture\\python\\data\\trafficData.xls', sheet_name=1))

         사용월  호선명   역ID      지하철역      승차승객수      하차승객수                 작업일시
0    2024-07  1호선   150       서울역  1,657,883  1,564,476  2024-08-03 09:51:41
1    2024-07  1호선   151        시청    742,284    746,353  2024-08-03 09:51:41
2    2024-07  1호선   152        종각  1,145,348  1,130,282  2024-08-03 09:51:41
3    2024-07  1호선   153      종로3가    755,197    697,902  2024-08-03 09:51:41
4    2024-07  1호선   154      종로5가    699,688    684,549  2024-08-03 09:51:41
..       ...  ...   ...       ...        ...        ...                  ...
616  2024-07  신림선  4407        당곡    149,145    145,635  2024-08-03 09:51:41
617  2024-07  신림선  4408        신림     60,184     78,904  2024-08-03 09:51:41
618  2024-07  신림선  4409        서원    107,834     95,900  2024-08-03 09:51:41
619  2024-07  신림선  4410   서울대벤처타운    289,061    266,632  2024-08-03 09:51:41
620  2024-07  신림선  4411  관악산(서울대)     97,130     96,765  2024-08-03 09:51:41

[621 rows x 7 columns]

In [23]:
# csv 파일 pandas 라이브러리로 read, save 해보자

print(pd.read_csv('D:\lecture\python\data\seoulTemp_utf8.csv')) # csv 파일을 읽어 DataFrame 객체로 만들기


# dfFruit 객체를 csv로 저장해보자
dfFruit.to_csv('D:\lecture\python\data\dfFruit.csv', index=False) # 인덱스를 생성하지 않고 csv 파일로 저장하기

     \t2023-01-01  108  -0.2  -4.3  3.8
0    \t2023-01-02  108  -4.5  -7.4 -0.4
1    \t2023-01-03  108  -5.0  -9.0  0.6
2    \t2023-01-04  108  -1.8  -5.7  3.3
3    \t2023-01-05  108  -1.6  -5.6  3.6
4    \t2023-01-06  108   0.6  -4.7  5.7
..            ...  ...   ...   ...  ...
359  \t2023-12-27  108   1.5  -2.8  6.8
360  \t2023-12-28  108   1.2  -1.7  4.4
361  \t2023-12-29  108   1.3  -1.5  4.6
362  \t2023-12-30  108   0.6  -0.9  2.1
363  \t2023-12-31  108   2.1   0.6  4.3

[364 rows x 5 columns]

<>:3: SyntaxWarning: invalid escape sequence '\l'
<>:7: SyntaxWarning: invalid escape sequence '\l'
<>:3: SyntaxWarning: invalid escape sequence '\l'
<>:7: SyntaxWarning: invalid escape sequence '\l'
C:\Users\802-02\AppData\Local\Temp\ipykernel_8448\3178290399.py:3: SyntaxWarning: invalid escape sequence '\l'
  print(pd.read_csv('D:\lecture\python\data\seoulTemp_utf8.csv')) # csv 파일을 읽어 DataFrame 객체로 만들기
C:\Users\802-02\AppData\Local\Temp\ipykernel_8448\3178290399.py:7: SyntaxWarning: invalid escape sequence '\l'
  dfFruit.to_csv('D:\lecture\python\data\dfFruit.csv', index=False)

pandas의 DataFrame을 사용하여 데이터를 파악할 때 주로 사용하는 명령어

head() : DataFrame의 처음 5개 row를 보여준다.
tail() : DataFrame의 마지막 5개 row를 보여준다.
shape : 행, 열의 갯수를 출력한다.
info() : DataFrame의 변수, 속성 정보를 출력한다.
describe() : 통계량을 요약하여 출력한다.

In [33]:
exam = pd.read_csv('D:\lecture\python\data\exam.csv')

print(exam.head())
print(exam.tail())
print(exam.shape) # (20, 5) : 20행, 5열을 의미한다.
print(exam.info())
print(exam.describe())

   id  nclass  math  english  science
0   1       1    50       98       50
1   2       1    60       97       60
2   3       1    45       86       78
3   4       1    30       98       58
4   5       2    25       80       65
    id  nclass  math  english  science
15  16       4    58       98       65
16  17       5    65       68       98
17  18       5    80       78       90
18  19       5    89       68       87
19  20       5    78       83       58
(20, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       20 non-null     int64
 1   nclass   20 non-null     int64
 2   math     20 non-null     int64
 3   english  20 non-null     int64
 4   science  20 non-null     int64
dtypes: int64(5)
memory usage: 932.0 bytes
None
             id     nclass       math    english    science
count  20.00000  20.000000  20.000000  20.000000  20.000000
mean   10.50000   3.000000  57.450000  84.900000  59.450000
std     5.91608   1.450953  20.299015  12.875517  25.292968
min     1.00000   1.000000  20.000000  56.000000  12.000000
25%     5.75000   2.000000  45.750000  78.000000  45.000000
50%    10.50000   3.000000  54.000000  86.500000  62.500000
75%    15.25000   4.000000  75.750000  98.000000  78.000000
max    20.00000   5.000000  90.000000  98.000000  98.000000

<>:1: SyntaxWarning: invalid escape sequence '\l'
<>:1: SyntaxWarning: invalid escape sequence '\l'
C:\Users\802-02\AppData\Local\Temp\ipykernel_8448\2972529637.py:1: SyntaxWarning: invalid escape sequence '\l'
  exam = pd.read_csv('D:\lecture\python\data\exam.csv')

In [30]:
# count : 데이터 빈도수
# mean : 평균
# std : 표준편차
# max : 최대값

exam.describe()

             id     nclass       math    english    science
count  20.00000  20.000000  20.000000  20.000000  20.000000
mean   10.50000   3.000000  57.450000  84.900000  59.450000
std     5.91608   1.450953  20.299015  12.875517  25.292968
min     1.00000   1.000000  20.000000  56.000000  12.000000
25%     5.75000   2.000000  45.750000  78.000000  45.000000
50%    10.50000   3.000000  54.000000  86.500000  62.500000
75%    15.25000   4.000000  75.750000  98.000000  78.000000
max    20.00000   5.000000  90.000000  98.000000  98.000000

In [ ]:
exam.head(2) # head(n) , tail(n)

문제. mpg.csv 파일을 읽고 
    1) 몇 행 몇열로 구성되어있는가?
    2) 각 컬럼의 데이터 타입을 알아보자
    3) mpg 데이터의 통계 요약을 출력하세요.

In [40]:
car = pd.read_csv('D:\lecture\python\data\mpg.csv')

print(car.shape) # 234행, 11열
print('------------------------------')
print(car.info())
print('------------------------------')
# 통계량을 산출할 수 있는 컬럼에 대해서만 값이 나온다.
print(car.describe()) 
print('------------------------------')

(234, 11)
------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 20.2+ KB
None
------------------------------
            displ         year         cyl         cty         hwy
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000
       manufacturer        model       displ         year         cyl  \
count           234          234  234.000000   234.000000  234.000000
unique           15           38         NaN          NaN         NaN
top           dodge  caravan 2wd         NaN          NaN         NaN
freq             37           11         NaN          NaN         NaN
mean            NaN          NaN    3.471795  2003.500000    5.888889
std             NaN          NaN    1.291959     4.509646    1.611534
min             NaN          NaN    1.600000  1999.000000    4.000000
25%             NaN          NaN    2.400000  1999.000000    4.000000
50%             NaN          NaN    3.300000  2003.500000    6.000000
75%             NaN          NaN    4.600000  2008.000000    8.000000
max             NaN          NaN    7.000000  2008.000000    8.000000

           trans  drv         cty         hwy   fl class
count        234  234  234.000000  234.000000  234   234
unique        10    3         NaN         NaN    5     7
top     auto(l4)    f         NaN         NaN    r   suv
freq          83  106         NaN         NaN  168    62
mean         NaN  NaN   16.858974   23.440171  NaN   NaN
std          NaN  NaN    4.255946    5.954643  NaN   NaN
min          NaN  NaN    9.000000   12.000000  NaN   NaN
25%          NaN  NaN   14.000000   18.000000  NaN   NaN
50%          NaN  NaN   17.000000   24.000000  NaN   NaN
75%          NaN  NaN   19.000000   27.000000  NaN   NaN
max          NaN  NaN   35.000000   44.000000  NaN   NaN
------------------------------

<>:1: SyntaxWarning: invalid escape sequence '\l'
<>:1: SyntaxWarning: invalid escape sequence '\l'
C:\Users\802-02\AppData\Local\Temp\ipykernel_8448\1260731294.py:1: SyntaxWarning: invalid escape sequence '\l'
  car = pd.read_csv('D:\lecture\python\data\mpg.csv')

In [ ]:
# 통계량을 산출할 수 있는 컬럼에 대해서만 값이 나온다.
print(car.describe()) 
# 모든 컬럼에 대한 통계 요약 정보를 보고싶을 때는 include='all' 속성을 추가한다. 이 때 NaN = Not a Number = 숫자가 아니다.
car.describe(include='all')